<div class="lernmoment-subscribe">
  <h5>Mache es dir noch heute zur Gewohnheit jeden Tag deine Softwareentwicklung zu verbessern</h5>
    <form action="http://lernmoment.us9.list-manage2.com/subscribe/post" method="POST" target="_blank">
      <input type="hidden" name="u" value="d0206d57f5002e40b651a0f60">
      <input type="hidden" name="id" value="8845c28e62">
      <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Deine beste E-Mail-Adresse">
      <input type="text" name="MERGE1" id="MERGE1" size="25" value="" placeholder="Dein Name">
      <input type="submit" class="btn" name="submit" value="Ich bin dabei!">
    <p>Natürlich kein Spam! Nur der Inhalt, den ich dir versprochen habe. Also, jeden Werktag um 9.30 Uhr einen LernMoment zu **deinem** Thema. Wenn es dir nicht gefällt, kannst du dich zu jederzeit abmelden. Versprochen!</p>
    </form>
</div>
