<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>de.lernmoment.deploy</string>

  <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin</string>
    </dict>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/developer/Development/blogs/LernMoment.de/deployment/launchd/deploy-with-launchd.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Minute</key>
    <integer>05</integer>
    <key>Hour</key>
    <integer>08</integer>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/LernMomentDeployment.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/LernMomentDeployment.out</string>
</dict>
</plist>